.order {
  li {
    border-bottom: 1px solid #000;
    padding: 2rem 0 2rem 0.2rem;
    display: -webkit-box;
    display: flex;
    font-size: 1.4rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    // span {
    // width: 100%;
    // }
  }
}
