.root {
  margin-bottom: 20px;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  input,
  textarea,
  select {
    width: 50%;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    appearance: none;
    border-radius: 0;
    background: white;
    &:focus {
      outline: 0;
      background: lighten(orange, 85%);
    }
  }
  textarea {
    width: 100%;
    min-height: 60px;
  }
  input:last-of-type {
    width: 100%;
  }
  button {
    width: 100%;
    border: 0;
    font-size: 1.2rem;
  }
  .status {
    width: 100%;
  }
  button {
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    border: none;
    background: #ff0000;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
    &[disabled] {
      color: #d12028;
      background: white;
      transform: rotate(-10deg) scale(1.5) translateX(40%) translateY(-50%);
      border: 1px solid #d12028;
      &:hover {
        color: #d12028;
        cursor: not-allowed;
      }
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      z-index: -1;
      display: block;
      background: black;
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.2s;
    }
    &:hover,
    &:focus {
      color: white;
      outline: 0;
      &:after {
        width: 100%;
      }
    }
    // variants
    &.warning {
      &:after {
        background: #d12028;
      }
    }
    &.success {
      &:after {
        background: green;
      }
    }
    &.github {
      border: 0;
      display: block;
      margin-bottom: 2rem;
      width: 100%;
      color: white;
      padding: 2rem;
      border: 5px solid white;
      font-size: 1.6rem;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    }
  }
}
